# ------------------------------------------------------------------------------
# 1. Source Control & CI/CD
# ------------------------------------------------------------------------------
.git
.gitignore
.husky
.github

# ------------------------------------------------------------------------------
# 2. Docker Files
# ------------------------------------------------------------------------------
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml

# ------------------------------------------------------------------------------
# 3. Dependencies & Build Artifacts
# ------------------------------------------------------------------------------
node_modules
dist
build

# ------------------------------------------------------------------------------
# 4. Environment Variables (SECURITY)
# ------------------------------------------------------------------------------
.env
.env.*
!.env.example

# ------------------------------------------------------------------------------
# 5. Tests & Coverage
# ------------------------------------------------------------------------------
coverage
test
**/*.spec.ts
**/*.test.ts

# ------------------------------------------------------------------------------
# 6. Tooling & Configs (Dev-Only)
# ------------------------------------------------------------------------------
.vscode
.idea
.lintstagedrc
eslint.config.mjs
.prettierrc
.prettierignore
.spectral.yml

# ------------------------------------------------------------------------------
# 7. Documentation, Scripts & Logs
# ------------------------------------------------------------------------------
scripts
docs
README.md
LICENSE
CHANGELOG.md

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------------------------------------------------------
# 8. OS Specific
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db