# General docker-compose.yml file
services:
  api:
    build:
      context: .
      target: development
    ports:
      # Risk: The ports: - "3000:3000" command binds the port to 0.0.0.0:3000 
      # (all network interfaces) by default. This makes it accessible from LAN.
      # Solution: Completely block external access by binding to localhost:
      - "127.0.0.1:3000:3000"