services:
  # Override the same service 'api' instead of creating 'api-production'.
  # This ensures consistency in container naming.
  api:
    build:
      target: production

    env_file:
      - .env

    ports:
      # [IMPROVEMENT] We made port 3001!
      # Why? If you have 'npm run start:dev' or dev container (3000) open in the background, you don't have to close the other one to run this test.
      - "127.0.0.1:3001:3000"

    environment:
      - NODE_ENV=production

    # Restart policy
    # Automatically restart if the app crashes (simulating real server behavior)
    restart: unless-stopped

    networks:
      - nestjs-network