name: Deploy documentations

on:
  workflow_call:
    secrets:
      POSTMAN_API_KEY:
        required: true
      POSTMAN_COLLECTION_ID_MAIN_V1:
        required: true
      POSTMAN_COLLECTION_ID_MAIN_V2:
        required: true
      POSTMAN_COLLECTION_ID_DEV_V1:
        required: true
      POSTMAN_COLLECTION_ID_DEV_V2:
        required: true

jobs:
  deploy:
    name: Prepare & deploy documentations
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

      - name: Setup Node.js
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          cache: 'npm'
          node-version: '24'

      - name: Install script dependencies
        run: npm install openapi-to-postmanv2 ts-node @types/node --no-save --no-package-lock

      - name: Download swagger artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: openapi-specs
          path: public-docs/

      - name: Update Postman collections
        env:
          POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          
          if [ "$BRANCH_NAME" == "main" ]; then
            ID_V1="${{ secrets.POSTMAN_COLLECTION_ID_MAIN_V1 }}"
            ID_V2="${{ secrets.POSTMAN_COLLECTION_ID_MAIN_V2 }}"
          elif [ "$BRANCH_NAME" == "development" ]; then
            ID_V1="${{ secrets.POSTMAN_COLLECTION_ID_DEV_V1 }}"
            ID_V2="${{ secrets.POSTMAN_COLLECTION_ID_DEV_V2 }}"
          else
            echo "Branch $BRANCH_NAME is not configured for Postman collection updates. Exiting."

            exit 1
          fi

          SAFE_BRANCH=$(echo "$BRANCH_NAME" | sed 's/\//-/g')

          npx ts-node scripts/update-postman.ts \
            public-docs/swagger-${SAFE_BRANCH}-v1.json \
            $ID_V1 \
            "$BRANCH_NAME"
            
          npx ts-node scripts/update-postman.ts \
            public-docs/swagger-${SAFE_BRANCH}-v2.json \
            $ID_V2 \
            "$BRANCH_NAME"

      - name: Prepare static site files
        run: |
          cp docs/index.html public-docs/index.html
          cp docs/swagger.html public-docs/swagger.html
          cp docs/redoc.html public-docs/redoc.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public-docs
          keep_files: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: "Docs: Update ${{ github.ref_name }} documentation"